@model IEnumerable<LTWeb_Cinema_0307.Models.CinemaEntities.Reservation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservations</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Show.Cinema.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seat.SeatNo)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Show.Id)
        </th>*@
        @* ---------------------- *@
        <th>
            @Html.DisplayNameFor(model => model.Show.Movie.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Show.ShowDay.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Show.ShowTime.Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Customer.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Show.Cinema.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Seat.SeatNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Show.Movie.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Show.ShowDay.Day)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Show.ShowTime.Time)
    </td>
    @*<td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>*@
</tr>
}

</table>
